{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- prettier ignore -->
{% load socialaccount %} {% providers_media_js %} {% load i18n %}
<!-- prettier ignore -->
{% load widget_tweaks %}
<br />
<!-- log in section start -->
<section class="log-in-section section-b-space">
  <div class="container-fluid-lg w-100">
    <div class="row">
      <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
        <div class="image-contain">
          <img
            src="{% static 'images/inner-page/sign-up.png' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-xxl-4 col-xl-5 col-lg-6 me-auto">
        <div class="log-in-box">
          <div class="log-in-title">
            <h3>Welcome To Fastkart</h3>
            <h4>Create New Account</h4>
          </div>

          <div class="input-box">
            <form
              class="row g-4"
              id="signup_form"
              method="post"
              action="{% url 'account_signup' %}"
            >
              {% csrf_token %} {{ form.errors }}
              <div class="col-12">
                <div class="form-floating theme-form-floating">
                  <!-- <input
                    type="text"
                    class="form-control"
                    id="fullname"
                    placeholder="Full Name"
                  /> -->
                  <!-- prettier-ignore -->
                  {% render_field form.username  type="text" class="form-control"  placeholder="User Name" %}

                  <!-- prettier-ignore -->

                  <label for="fullname">User Name</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating theme-form-floating">
                  <!-- <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email Address"
                  /> -->

                  <!-- prettier-ignore -->
                  {% render_field form.email  class="form-control" placeholder="Email Address"  type="email" %}
                  <label for="email">Email Address</label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating theme-form-floating">
                  <!-- <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                  /> -->
                  <!-- prettier-ignore -->
                  {% render_field form.password1 class="form-control"  id="password" placeholder="Password" %}
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating theme-form-floating">
                  <!-- <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                  /> -->
                  <!-- prettier-ignore -->
                  {% render_field form.password2 class="form-control"  id="password2" placeholder="Password" %}
                  <label for="password">Password Confirm</label>
                </div>
              </div>
              <!-- {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %} -->
              <div class="col-12">
                <div class="forgot-box">
                  <div class="form-check ps-0 m-0 remember-box">
                    <input
                      class="checkbox_animated check-box"
                      type="checkbox"
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault"
                      >I agree with <span>Terms</span> and
                      <span>Privacy</span></label
                    >
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-animation w-100" type="submit">
                  {% trans "Sign Up" %}
                </button>
              </div>
            </form>
          </div>

          <div class="other-log-in">
            <h6>or</h6>
          </div>

          <div class="log-in-button">
            <ul>
              <li>
                <a
                  href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                  class="btn google-button w-100"
                >
                  <img
                    src="{% static 'images/inner-page/google.png' %}"
                    class="blur-up lazyload"
                    alt=""
                  />
                  Sign up with Google
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/"
                  class="btn google-button w-100"
                >
                  <img
                    src="{% static 'images/inner-page/facebook.png' %}"
                    class="blur-up lazyload"
                    alt=""
                  />
                  Sign up with Facebook
                </a>
              </li>
            </ul>
          </div>

          <div class="other-log-in">
            <h6></h6>
          </div>

          <div class="sign-up-box">
            <h4>Already have an account?</h4>
            <a href="{{ login_url }}">Log In</a>
          </div>
        </div>
      </div>

      <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
    </div>
  </div>
</section>
<!-- log in section end -->

{% endblock %}
<!-- 
<p>
  {% blocktrans %}Already have an account? Then please
  <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
</p> -->

<!-- <form
  class="signup"
  id="signup_form"
  method="post"
  action="{% url 'account_signup' %}"
>
  {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->
